@import '/src/common/best-reset.css';

/* 기본적으로 적용될 배경색 */
body {
  background: yellow;
  font-size: 1.5rem;

  /* 뷰포트(600px) 크기에 따라 적용될 배경색 */
  @media (min-width: 600px) {
    background: pink;
    font-size: 2rem;
  }

  /* 뷰포트(600px) 크기에 따라 적용될 배경색 */
  @media (min-width: 1200px) {
    background: lime;
    font-size: 2.5rem;
  }
}

/* 가로모드에서 적용될 배경색 */
/* @media (orientation: landscape) {
  body {
    background: orange;
  }
} */
