@import '/src/common/best-reset.css';
@import '/src/common/theme.css';
@import '/src/ui/components/avatar/avatar.css';

body {
  margin: 50px;
}

h1 {
  margin-block: 20px;
}

/* Stacking context */
/* case 1 */
.case-01 {
  background: yellow;
  display: flex;
  flex-flow: row nowrap;

  .button-avatar {
    margin-right: -20px;
    position: static;
    /* filter: blur(5px); */
    transition: rotate 2000ms;

    &:hover,
    &:focus {
      /* 아바타의 겹치는 순서를 제어하기 위해 0보다 큰 값 지정 */
      /* z-index를 적용하려면 position이 static가 아닌 경우에만 가능 */
      z-index: 10;
      transform: scale(1.5) translate(0, -20px);
      /* opacity: 0.8; */
      /* transform: translate(0, 20px); */
      /* translate: 0 -20px; */
      rotate: 3turn;
      filter: sepia(60%);
    }
    &::after {
      display: none;
    }
  }
}
