body *,
body *::after,
body *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

body {
  font-family: 'SUIT', sans-serif;
}

/* 멤버 서비스 */
.member-service {
  background-color: yellow;
  display: flow-root;
  a {
    float: left;
    text-transform: uppercase;
  }
  a:nth-child(n + 2)::before {
    content: '|';
    margin: 0 0.5em;
  }

  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

/* 멤버 링크 */
.member-link {
  background-color: pink;
  display: flow-root;
  float: right;

  li {
    float: left;

    span {
      float: left;
      margin: 0 0.5em;
    }

    a {
      text-transform: uppercase;
      float: left;
    }
  }
}
