<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <!-- 글꼴 link -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <!-- 기본 포맷 -->
    <link rel="stylesheet" href="/src/ui/components/avatar/avatar.css" />
  </head>
  <body>
    <h1>Avatar 컴포넌트</h1>
    <h2>인터렛션이 없는 아바타 컴포넌트</h2>
    <figure class="img-avatar">
      <img src="/src/assets/face/face1.jpg" alt="사용자명" />
      <figcaption class="avatar-state offline">
        <div class="sr-only">오프라인</div>
      </figcaption>
    </figure>
    <figure class="avatar">
      <img src="/src/assets/face/face1.jpg" alt="사용자명" />
      <figcaption class="avatar-state online">
        <div class="sr-only">온라인</div>
      </figcaption>
    </figure>

    <h2>인터렛션이 있는 아바타 컴포넌트</h2>
    <button
      type="button"
      class="btn-avatar state-offline"
      aria-label="오프라인"
    >
      <img src="/src/assets/face/face1.jpg" alt="사용자명" />
    </button>
    <button type="button" class="btn-avatar state-online" aria-label="온라인">
      <img src="/src/assets/face/face1.jpg" alt="사용자명" />
    </button>
  </body>
</html>
