<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="shortcut icon"
      href="/src/assets/favicon/likelion.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/src/assets/favicon/likelion.svg" />
    <!-- 글꼴 link -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css"
    />
    <!-- 기본 포맷 -->
    <link rel="stylesheet" href="/src/ui/components/select/select.css" />
  </head>
  <body>
    <h1>Select UI</h1>
    <h2>셀렉트 (svg 요소)</h2>
    <div class="select">
      <label for="select__lang" class="select__label">
        <img src="/src/assets/icon/global.svg" alt="언어 선택 아이콘" />
      </label>
      <span class="select__text">한국어</span>
      <div class="select__arrow"></div>
      <select name="select__lang" id="select__lang">
        <option value="kor" selected>한국어</option>
        <option value="eng">English</option>
      </select>
      <div class="select__dropdown">
        <option value="kor">한국어</option>
        <option value="eng">English</option>
      </div>
    </div>
  </body>
</html>
